
<!DOCTYPE html>
<html>
    <head>
        <title>DC - 404 page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../assets/css/metisMenu.css" rel="stylesheet">
        <link href="../../assets/css/morris-0.4.3.min.css" rel="stylesheet">
        <link href="../../assets/css/style.css" rel="stylesheet">
        <script src="../../assets/js/modernizr.js"></script>
    </head>
    <body class="fixed-left">
        <div class="container">
            <div class="row">
                <div class="error-col text-center">
                    <h3>404</h3>
                    <h4>The page you are looking for has not been found!</h4>
                    <p>The page you are looking for might have been removed, or unavailable. </p>                 
                    <a href="../../index.html" class="btn btn-primary"><i class="fa fa-undo"></i> Back</a>
                </div>
               
            </div>
        </div>        
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/bootstrap.min.js"></script>
        <script src="../../assets/js/jquery.slimscroll.js"></script>
        <script src="../../assets/js/metisMenu.js"></script>
         <script src="../../assets/js/core.js"></script>
        <script src="../../assets/js/mediaquery.js"></script>
        <script src="../../assets/js/equalize.js"></script>
        <script src="../../assets/js/app.js"></script>
    </body>
</html>
