
<!DOCTYPE html>
<html>
    <head>
        <title>pink-desh</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../assets/css/metisMenu.css" rel="stylesheet">
        <link href="../../assets/css/morris-0.4.3.min.css" rel="stylesheet">
        <link href="../../assets/css/style.css" rel="stylesheet">
        <script src="../../assets/js/modernizr.js"></script>
    </head>
    <body class="fixed-left">
<div class="container">
            <div class="row">
                <div class="locksreen-col text-center">
                    <img src="../../assets/images/avatar1.png" class="img-circle" alt="" width="100">
                    <h3><small>Logged In As</small>Your name</h3>
                    <form class="m-t" role="form" action="../../index.html">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="******">
                        </div>
                        <button type="submit" class="btn btn-auth btn-lg btn-block full-width">Unlock</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Plugins  -->
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/bootstrap.min.js"></script>
        <script src="../../assets/js/jquery.slimscroll.js"></script>
        <script src="../../assets/js/metisMenu.js"></script>
         <script src="../../assets/js/core.js"></script>
        <script src="../../assets/js/mediaquery.js"></script>
        <script src="../../assets/js/equalize.js"></script>
        <script src="../../assets/js/app.js"></script>

    </body>
</html>
