
<!DOCTYPE html>
<html>
    <head>
        <title>DC - Login page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../assets/css/metisMenu.css" rel="stylesheet">
        <link href="../../assets/css/morris-0.4.3.min.css" rel="stylesheet">
        <link href="../../assets/css/style.css" rel="stylesheet">
        <script src="../../assets/js/modernizr.js"></script>
    </head>
    <body class="fixed-left">
<div class="container">
            <div class="row">
                <div class="locksreen-col text-center">
                    <h3><img src="../../assets/images/logo-dc.png" alt=""></h3>
                    <form class="m-t" role="form" action="../../index.html">
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Passowrd">
                        </div>
                        <button type="submit" class="btn btn-auth btn-lg btn-block ">Sign In</button><br>
                        <a href="#"><small>Forgot password?</small></a>
                <p class=" text-center"><small>Do not have an account?</small></p>
                <a href="register.html">Create an account</a><br><br>
                <p>Copyright © 2021 <em style="color:#A1CAE2">daengcoding.id</em></p>
                    </form>
                </div>
            </div>
        </div>
        <!-- Plugins  -->
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/bootstrap.min.js"></script>
        <script src="../../assets/js/jquery.slimscroll.js"></script>
        <script src="../../assets/js/metisMenu.js"></script>
         <script src="../../assets/js/core.js"></script>
        <script src="../../assets/js/mediaquery.js"></script>
        <script src="../../assets/js/equalize.js"></script>
        <script src="../../assets/js/app.js"></script>

    </body>
</html>
