
<!DOCTYPE html>
<html>
    <head>
        <title>DC - Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../assets/css/metisMenu.css" rel="stylesheet">
        <link href="../../assets/css/morris-0.4.3.min.css" rel="stylesheet">
        <link href="../../assets/css/style.css" rel="stylesheet">
        <script src="../../assets/js/modernizr.js"></script>
    </head>
    <body class="fixed-left">
<div class="container">
            <div class="row">
                <div class="locksreen-col text-center">
                    <h3><img src="../../assets/images/logo-dc.png" alt=""></h3>
                    <form class="m-t" role="form" action="../../index.html">
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                         <div class="form-group">
                             <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Passoword">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Passoword_conf">
                        </div>
                        <button type="submit" class="btn btn-auth btn-lg btn-block ">Register</button><br>
                <p class=" text-center"><small>Already have an account?</small></p>
                <a href="../../view/pages/login.html">Login here</a><br><br>
                <p>Copyright © 2021 <em style="color:#A1CAE2">daengcoding.id</em></p>
                    </form>
                </div>
            </div>
        </div>        
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/bootstrap.min.js"></script>
        <script src="../../assets/js/jquery.slimscroll.js"></script>
        <script src="../../assets/js/metisMenu.js"></script>
         <script src="../../assets/js/core.js"></script>
        <script src="../../assets/js/mediaquery.js"></script>
        <script src="../../assets/js/equalize.js"></script>
        <script src="../../assets/js/app.js"></script>

    </body>
</html>
